@import 'mixins';

.pw-banner {
  background-image: 
    url("/images/banner_pattern.png"),
    url("/images/texture.png");

  .banner-dgc-title {
    color: white;
    background: rgba(103,175,207,1);
  }

  .tagline {
    line-height: $base-line-height;
    background: rgba(103,175,207,1);
    color: white;
  }
}

.pw-masthead {
  .blurb {
    text-align: center;
    width:80%;
    margin: 0.5em auto 2.5em auto;
  }
}

.post-content {
  h1 {
    @include nice-blue-header;
  }

  .centered {
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}

.blurb.pw-post-title {
  margin-bottom: 0.5em;
}

.ambassadors {
  margin: 2em 0;

  img {
    max-width: 30%;
    float: left;
    display: inline-block;
  }
  .info {
    max-width:70%;
    float: right;
    display: inline-block;
    padding-left: 2em;
  }
}
