@import 'mixins';

.pw-banner {
  background-image:
    url("/images/banner_pattern.png"),
    url("/images/texture.png");

  .banner-dgc-title {
    color: white;
    background: rgba(103,175,207,1);
  }

  .tagline {
    line-height: $base-line-height;
    background: rgba(103,175,207,1);
    color: white;
  }
}

.pw-masthead {
  .blurb {
    text-align: center;
    width:80%;
    margin: 0.5em auto 2.5em auto;
  }
}

.post-content {
  h1 {
    @include nice-blue-header;
  }

  .centered {
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}

.blurb.pw-post-title {
  margin-bottom: 0.5em;
}

.dear-games-link, .inclusivity-statement-link, .conference-link {
  margin: 50px;
  a {
    text-align: center;
    display: block;
    background: $pinwheel-blue;
    padding: 20px;
    color: white;
    transition: linear 0.2s all;

    &:hover {
      background: $pinwheel-dark-blue;
    }
  }
}

.img-charis {
  width: 100%;
}

.ambassdors-header, .ambassadors-text { margin: 3em 0;}

.ambassadors {
  margin: 2em 0;
  font-size: .75em;

  .ambassador {
    margin: 2em 0;
  }

  img {
    // width: 20%;
    // display: inline-block;
    vertical-align: text-bottom;
    // margin-right: 3em;
  }
  .info {
    // max-width:70%;
    // padding-left: 3em;
    // display: inline-block;
    vertical-align: text-bottom;
  }
}
