@import 'mixins';

.pw-banner {
  background-image: 
    url("/images/banner_pattern.png"),
    url("/images/texture.png");

  .banner-dgc-title {
    color: white;
    background: rgba(103,175,207,1);
  }

  .tagline {
    line-height: $base-line-height;
    background: rgba(103,175,207,1);
    color: white;
  }
}

.pw-masthead {
  .blurb {
    text-align: center;
    width:80%;
    margin: 0.5em auto 2.5em auto;
  }
}

.post-content {
  h1 {
    @include nice-blue-header;
  }
}

.blurb.pw-post-title {
  margin-bottom: 0.5em;
}


