.cool {
  border-bottom: 4px solid rgba(1, 177, 113, .2);
  transform: translateY(-10px);
  transition: all .2s linear;

  &:hover {
    border-bottom: 4px solid rgba(1, 177, 113, 1);
  }
}

.pw-container {
  padding-top: 40px;
}

.pw-banner {
  color: white;


  .banner-dgc-title {
    text-transform: capitalize;
    font-size:3em;
    background: $pinwheel-blue;
    display: inline-block;
  }

  .title-emoji {
    color: $pinwheel-red;
  }

  .tagline {
    width:60%;
    background: $pinwheel-blue;
    text-transform: lowercase;
    display: inline-block;
    padding: 5px;
  }

  &.conf {
    border-bottom: 10px solid $pinwheel-dark-blue;
  }
}

.above-navbar {
  border-top: 10px solid $pinwheel-red;
  display:block;
}

.pw-footer {
  border-top: 10px solid $pinwheel-red;
  background-color: $pinwheel-dark-blue;

  li {
    border-bottom-color: $pinwheel-blue;
  }
}


