.cool {
  border-bottom: 4px solid rgba(1, 177, 113, .2);
  transform: translateY(-10px);
  transition: all .2s linear;

  &:hover {
    border-bottom: 4px solid rgba(1, 177, 113, 1);
  }
}

.pw-container {
  padding-top: 40px;
}

.pw-banner {
  color: #60a2bf;

  .banner-dgc-title {
    background: $pinwheel-yellow;
  }

  .tagline {
    width:60%;
    background: $pinwheel-yellow;
    text-transform: lowercase;
    display: inline-block;
    padding: 5px;
  }

  &.conf {
    border-bottom: 10px solid $pinwheel-yellow;
  }
}


