.schedule-at-a-glance {

  th {
    background-color: $pinwheel-blue;
    color: white;
  }
  
  .time-listing {
    font-weight: normal;
  }

  .session-link {
    color: $pinwheel-dark-blue;
  }

  .listed-talk {
    font-size: 0.5em;
  }
}