.schedule-controls {
  text-align: center;
  padding: 2em;
}

.show-talks-label {
  margin-right: 1em;
}

.full-schedule-btn {
  display: block;
  font-weight: bold;
}

.schedule-at-a-glance {

  h3 {
    font-weight: bolder;
    font-size:2em;
  }

  th {
    background-color: $pinwheel-blue;
    color: white;
  }
  
  .time-listing {
    font-weight: normal;
  }

  .session-link {
    color: $pinwheel-dark-blue;
    font-weight: bold;
  }

  .session-link:hover {
    text-decoration: underline;
  }

  .listed-talk {
    font-size: 0.5em;
  }
}